.container {

  align-items: center;
  margin-bottom: 30px;
  background-color: white;
}

.item {
  text-align: center;
  margin: 15px 20px;
  font-size: 1.5rem;
}

.item_avatar {
  margin: 15px 20px;
  font-size: 1.5rem;
  :nth-child(0) {
    background-color: red;
  }
}

.item_aTag_avatar {
  float: right;
  display: flex;
  :last-child {
    div {
    margin-top: 7px;
    }
  }
}

.item_aTag_Mainlogo{
  float: left;
  span {
    margin-right: 60px;
  }

}

.item_aTag_logo {
  float: left;
  span {
    margin-right: 60px;
  }
  @media (max-width : 1024px) {
      display: none;  
  }
}
