.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-items: center;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
}

.item {
  text-align: center;
  margin: 15px 20px;
  font-size: 1.5rem;
}

.item_avatar {
  margin: 15px 20px;
  font-size: 1.5rem;
}

.item_aTag_avatar {
  float: right;
  :last-child {
    div {
    margin-top: 6px;
    }
  }
}

.item_aTag_logo {
  float: left;
}